*,
*::before,
*::after {box-sizing: border-box;}

html,
body,
.wrapper {
  height: 100%;
  margin: auto;
  padding: 0%;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

header {
  text-align: center;
  padding: 20px;
}

.box {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: grey;
  color: black;
  font-size: 18px;
  margin: auto;
  max-width: 600px;
  padding: 20px 25px;
  text-align: center;
}

.box-header ::after{
  content: "";
  display: block;
  width: 100%;
  background-color: grey;
  height: 5px;
  text-align: center;
}

.box-body {
  min-height: 100px;
}

.box-footer {
  text-align: center;
}

.box-footer::before {
  content: "";
  display: block;
  width: 100%;
  background: white;
  height: 5px;
}

.box-footer::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  border: none;
  background-color: red;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 15px 15px 15px 20px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: grey;
}

.float-right {
  float: right;
}

#password {
 display: block;
 width: 100%;
 padding-left: 15px;
 padding-top: 15px;
 padding-right: 15px;
 padding-bottom: 75px;
 font-size: 15px;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
 border: 2px dashed grey;
 border-radius: 5px;
 resize: none;
 overflow: hidden;
}

@media (max-width: 600px) {
  .button {
    font-size: 15px;
    margin: 15px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 15px;
  }
}
